.brand-slider {
  background: #efefef;
  padding: 16px 0;
  overflow: hidden;
}

/* TRACK */

.brand-track {
  display: flex;
  gap: 120px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

/* LOGO */

.brand-item {

  img {
    height: 65px;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: 0.4s ease;
  }

  &:hover img {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.05);
  }
}

/* ANIMATION */

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
