.glass-card{
  position:relative;
  height:420px;
  overflow:hidden;
  cursor:pointer;
  transition:0.3s;
  border-radius: 20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.glass-card:hover{
  transform:translateY(-6px);
}

/* PRODUCT IMAGE */

.product-img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  top:0;
  left:0;
}

/* DARK OVERLAY */

.glass-card::before{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(
    to top,
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.2),
    rgba(0,0,0,0)
  );
}

/* WISHLIST */

.wishlist-icon{
  position:absolute;
  top:15px;
  right:15px;
  font-size:20px;
  color:rgb(236, 97, 97);
  z-index:3;
  cursor:pointer;
}

.wishlist-icon.active{
  color:#ff4d6d;
}

/* INFO PANEL */

.glass-info{
  position:absolute;
  bottom:0;
  width:100%;
  padding:18px;
  color:white;
  backdrop-filter:blur(2px);
  background:rgba(0,0,0,0.45);
}

/* RATING */

.rating-row{
  display:flex;
  align-items:center;
  gap:6px;
  font-size:14px;
  margin-bottom:5px;
}

.star{
  color:#ffd166;
}

/* TITLE */

.product-title{
  font-size:18px;
  font-weight:600;
  margin:6px 0;
  color: antiquewhite;
}

/* PRICE */

.price-row{
  display:flex;
  gap:10px;
  margin-bottom:12px;
}

.new-price{
  font-weight:700;
}

.old-price{
  text-decoration:line-through;
  opacity:0.7;
}

/* BUTTON */

.cart-btn{
  width:100%;
  padding:10px;
  border:none;
  border-radius:8px;
  background:#b13a00;
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.cart-btn:hover{
  background:#8a2c00;
}
.save-badge {
  background: #e63946;
  color: white;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 20px;
}