/* MAIN CONTAINER */
.admin-container {
   
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* LEFT SIDE */
.left-panel {
    flex: 1;
    background: #17422f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.left-panel h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.left-panel p {
    font-size: 18px;
    opacity: 0.8;
}

/* RIGHT SIDE */
.right-panel {
    flex: 1;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN BOX */
.login-box {
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #17422f;
}

/* INPUTS */
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.login-box input:focus {
    border-color: #17422f;
}

/* BUTTON */
.login-box button {
    width: 100%;
    padding: 10px;
    background: #17422f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: #1f5c40;
}

.login-box button:disabled {
    background: gray;
    cursor: not-allowed;
}